node_modules/
/server/node_modules/
/client/node_modules/
dist/
build/
coverage/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
.vscode/
.idea/
/.cache
secrets/
*.tgz
logs/
npm-debug.log
pnpm-lock.yaml
package-lock.json
yarn.lock
